.vanderstrap-wrapper.container {
 padding: 0;
}

// SEARCH SHORTCODE
.vanderstrap-shortcode-searchform {
 .search-form {
  input#s {
   display: block;
   &.search-foldout2 {
    display: none;
   }//.search-foldout2
  }//.input#s
  i {
   float: left;
   padding: 1px 5px 0 0;
   font-size: 20px;
  }//.i
  .search-foldout-cta2 {
   cursor: pointer;
  }//.search-foldout-cta2
 }//.search-form
}//.vanderstrap-shortcode-searchform
.vanderstrap-category {
 .search-results {
  ul {
   padding-left: 17px;
   li {
    padding-bottom: 5px;
   }//.li
  }//.ul
 }//.search-results
}//.vanderstrap-category

// COOKIES SHORTCODE
.vanderstrapcookies {
 .table {
  table-layout: fixed;
  width: 100%;
  td {
   word-wrap: break-word;
  }//.td
  th:first-child, td:first-child {
   width: 33%;
  }//.th:first-child, .td:first-child
 }//.table
}//.vanderstrapcookies

//*/ TOPBAR
#vanderstrap-topbar {
 height: 35px;
	overflow: hidden;
 ul {
  text-decoration: none;
  li {
   list-style: none;
   margin: 0;
   padding: 6px 0 0 10px;
   float: left;
   a {
    text-decoration: none;
   }//.a
  }//.li
  &.menu {
   li {
    padding-top: 0;
   }//.li
  }//ul.menu
  &.topbar-ul {
   .header-social-layout-1,
   .header-info-layout-1 {
    padding-top: 4px;
   }
   .header-social-layout-1 i,
   .header-info-layout-1 i {
    width: 24px;
    font-size: 24px;
   }
   .header-social-layout-2,
   .header-info-layout-2,
   .header-info-layout-3 {
    padding-left: 15px;
   }
   .header-social-layout-2 i,
   .header-info-layout-2 i {
    width: 20px;
    font-size: 16px;
   }
   .header-social-layout-1 span.social-title,
   .header-info-layout-1 span.info-title,
   .header-social-layout-3 i,
   .header-info-layout-3 i {
    display: none;
   }
   .header-phone.header-info-layout-3 span.info-title:before {
    content: 'Tlf.: ';
   }
   .header-mail.header-info-layout-3 span.info-title:before {
    content: 'E-mail: ';
   }
   .header-search-li {
    padding: 4px 0 0 10px;
   }
   .header-search-li .search-form input#s {
    display: block;
   }
   .header-search-li .search-form i {
    float: left;
    padding: 1px 5px 0 0;
    font-size: 20px;
   }
   .header-search-li .search-form input#s.search-foldout {
    display: none;
   }
  }//ul.topbar-ul
 }//.ul
}//#vanderstrap-topbar

// GALLERY SHORTCODE
.vanderstrap-gallery {
	position: relative;
	padding: 0;
	margin: 0;
 .vanderstrap-gallery-row {
  position: relative;
  padding: 0;
  margin: 0 -5px 0 0;
  .vanderstrap-gallery-col {
   box-sizing: border-box;
   padding: 0 5px 5px 0;
   margin: 0;
   a.vanderstrap-gallery-link {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    &:hover {
     opacity: 0.9;
    }//.vanderstrap-gallery-link:hover
    img {
     width: 100%;
     height: auto;
    }//.img
   }//.vanderstrap-gallery-link
   .vanderstrap-gallery-caption {
    width: 100%;
    display: block;
   }//.vanderstrap-gallery-caption
  }//.vanderstrap-gallery-col
 }//.vanderstrap-gallery-row
}//.vanderstrap-gallery

// SLIDER SHORTCODE
.vanderstrap-slider-bs4 {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
 .vanderstrap-slider-bs4-slide {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 345px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .vanderstrap-slider-bs4-caption {
   display: -ms-flexbox !important;
   display: flex !important;
   -ms-flex-align: center !important;
   align-items: center !important;
   margin: 30px auto !important;
   * {
    color: #fff;
   }
   .vanderstrap-slider-bs4-caption-inner {
    background: rgba(0, 0, 0, .7);
    display: inline-block;
    padding: 10px 15px;
   }//.vanderstrap-slider-bs4-caption-inner
   &.left-top {
    -ms-flex-align: top !important;
    align-items: top !important;
    margin: 30px auto auto 60px !important;
   }//.vanderstrap-slider-bs4-caption.left-top
   &.left-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    margin: auto auto auto 60px !important;
   }//.vanderstrap-slider-bs4-caption.left-center
   &.left-bottom {
    -ms-flex-align: bottom !important;
    align-items: bottom !important;
    margin: auto auto 30px 60px !important;
   }//.vanderstrap-slider-bs4-caption.left-bottom
   &.right-top {
    -ms-flex-align: top !important;
    align-items: top !important;
    margin-left: auto !important;
    margin-bottom: auto !important;
    margin: 30px 60px auto auto !important;
   }//.vanderstrap-slider-bs4-caption.right-top
   &.right-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    margin: auto 60px auto auto !important;
   }//.vanderstrap-slider-bs4-caption.right-center
   &.right-bottom {
    -ms-flex-align: bottom !important;
    align-items: bottom !important;
    margin: auto 60px 30px auto !important;
   }//.vanderstrap-slider-bs4-caption.right-bottom
   &.center-top {
    -ms-flex-align: top !important;
    align-items: top !important;
    margin: 30px auto auto auto !important;
   }//.vanderstrap-slider-bs4-caption.center-top
   &.center-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    margin: 30px auto !important;
   }//.vanderstrap-slider-bs4-caption.center-center
   &.center-bottom {
    -ms-flex-align: bottom !important;
    align-items: bottom !important;
    margin: auto auto 30px auto !important;
   }//.vanderstrap-slider-bs4-caption.center-bottom
  }//.vanderstrap-slider-bs4-caption
 }//.vanderstrap-slider-bs4-slide
 a.carousel-control-prev {
  width: 30px;
  color: #fff;
  left: 15px;
  .carousel-control-prev-icon {
   background: none !important;
   width: 30px;
   height: 30px;
   &:before {
    font-family: FontAwesome;
    font-size: 30px;
    content: '\f0a8';
   }//.carousel-control-prev-icon:before
  }//.carousel-control-prev-icon
  &.light {
   .carousel-control-prev-icon:before {
    color: #ffffff !important;
   }//.light .carousel-control-prev-icon:before
  }//.carousel-control-prev.light
  &.gray {
   .carousel-control-prev-icon:before {
    color: #cccccc !important;
   }//.gray .carousel-control-prev-icon:before
  }//.carousel-control-prev.gray
  &.dark {
   .carousel-control-prev-icon:before {
    color: #000000 !important;
   }//.dark .carousel-control-prev-icon:before
  }//.carousel-control-prev.dark
 }//.carousel-control-prev
 a.carousel-control-next {
  width: 30px;
  color: #fff;
  right: 15px;
  .carousel-control-next-icon {
   background: none !important;
   width: 30px;
   height: 30px;
   &:before {
    font-family: FontAwesome;
    font-size: 30px;
    content: '\f0a9';
   }//.carousel-control-next-icon:before
  }//.carousel-control-next-icon
  &.light {
   .carousel-control-next-icon:before {
    color: #ffffff !important;
   }//.light .carousel-control-next-icon:before
  }//.carousel-control-next.light
  &.gray {
   .carousel-control-next-icon:before {
    color: #cccccc !important;
   }//.gray .carousel-control-next-icon:before
  }//.carousel-control-next.gray
  &.dark {
   .carousel-control-next-icon:before {
    color: #000000 !important;
   }//.dark .carousel-control-next-icon:before
  }//.carousel-control-next.dark
 }//.carousel-control-next
 &.light {
  .vanderstrap-slider-bs4-slide {
   .vanderstrap-slider-bs4-caption {
    * {
     color: #333;
    }
    .vanderstrap-slider-bs4-caption-inner {
     background: rgba(255, 255, 255, .7);
    }//.light .vanderstrap-slider-bs4-caption-inner
   }//.light .vanderstrap-slider-bs4-caption
  }//.light .vanderstrap-slider-bs4-slide
  a.carousel-control-prev, a.carousel-control-next {
   color: #333;
  }//.light .carousel-control-prev, .carousel-control-next
 }//.vanderstrap-slider-bs4.light
 ol.carousel-indicators {
  margin-bottom: 0;
  li {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   opacity: .4;
   &.active {
    opacity: 1;
   }//.li.active
  }//.li
  &.light {
   li {
    background-color: #fff;
   }//.li
  }//.carousel-indicators.light
  &.gray {
   li {
    background-color: #ccc;
   }//.li
  }//.carousel-indicators.gray
  &.dark {
   li {
    background-color: #000;
   }//.li
  }//.carousel-indicators.dark
 }//.carousel-indicators
}//.vanderstrap-slider-bs4

// CATEGORY SHORTCODE
.vanderstrapcategory-loop {
 .vanderstrapcategory-readmore {
  padding-top: 10px;
  font-weight: bold;
 }//.vanderstrapcategory-readmore
 .vanderstrapcategory-acf {
  span {
   display: inline-block;
   padding: 0 10px 0 0;
  }//.span
 }//.vanderstrapcategory-acf
 &.vanderstrapcategory-layout-1 {
  .vanderstrapcategory-image {
   margin-bottom: 30px;
  }//.vanderstrapcategory-image
  .vanderstrapcategory-content {
   margin-bottom: 30px;
   .vanderstrapcategory-title {
    margin-top: 0;
   }//.vanderstrapcategory-title
  }//.vanderstrapcategory-content
  hr {
   margin-top: 0;
   margin-bottom: 30px;
  }//.hr
 }//.vanderstrapcategory-layout-1
 .vanderstrapcategory-layout-2 {
  .vanderstrapcategory-ul {
   list-style: none;
   margin-left: 0;
   padding-left: 0;
   .vanderstrapcategory-li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
   }//.vanderstrapcategory-li
  }//.vanderstrapcategory-ul
 }//.vanderstrapcategory-layout-2
 .vanderstrapcategory-layout-3 {
  .vanderstrapcategory-col {
   margin-bottom: 30px;
   .vanderstrapcategory-box-link {
    text-decoration: none !important;
    display: block;
    &:hover {
     text-decoration: none !important;
     display: block;
    }//.vanderstrapcategory-box-link:hover
   }//.vanderstrapcategory-box-link
   .vanderstrapcategory-text {
    height: 40px;
    overflow: hidden;
   }//.vanderstrapcategory-text
   a.btn.btn-secondary.understrap-read-more-link {
    display: none !important;
   }//.btn.btn-secondary.understrap-read-more-link
   .vanderstrapcategory-image {
    background-repeat: no-repeat;
    background-position: center center;
    @media (min-width: 768px) {
     img {
      max-width: none;
      width: 100%;
     }//.img
    }//media
   }//.vanderstrapcategory-image
  }//.vanderstrapcategory-col
 }//.vanderstrapcategory-layout-3
}//.vanderstrapcategory-loop

// SLIDER
#vanderstrap-slider {
 .container-fluid {
  padding: 0;
 }//.container-fluid
 p {
  margin: 0;
 }//.p
}//#vanderstrap-slider

// SECTIONS
.vanderstrap-section {
 padding-top: 30px;
 padding-bottom: 10px;
 .section-row {
  .widget {
   margin-bottom: 20px;
  }//.widget
 }//.section-row
}//.vanderstrap-section

// FOOTER
#vanderstrap-footerboxes {
	padding-top: 30px;
	padding-bottom: 10px;
 .footerbox-title {
  margin-top: 0;
 }//.footerbox-title
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
   list-style: none;
   margin: 0;
   padding: 0;
  }//.li
 }//.ul
 .footerbox {
  padding-bottom: 20px;
 }//.footerbox
}//#vanderstrap-footerboxes